@media screen and (min-width: 300px) and (max-width:1200px) {
  .top_content , .main_nav{
    display: none;
  }
}
@media screen and (min-width: 300px) and (max-width: 398px) {
  .slideshow_container .bg1 {
    height: 80vw;
  }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
  .bg1 {
    height: 70vw;
  }
}
@media screen and (min-width: 300px) and (max-width: 768px){
  .sb_bg {
    position: relative;
    top: 60px;
  }
  .slideshow_container {
    top: 60px;
  }
  .bg2 {
    top: 0;
    float: right;
    right: 0;
    animation-name: bg3;
    height: 75%;
    animation-delay: 2s;
  }
  @keyframes bg3 {
    from {
      left: 150%;
    }
    to {
      opacity: 1;
      left: 50%;
    }
  }
  .slider_content1 {
    top: 0;
    left: 5%;
    line-height: 1;
  }
  .slider_content1 h1 {
    width: 50%;
    font-size: 5vw;
  }
  .slider_content1 p {
    font-weight: bold;
    color: #3bf;
    font-size: 2.2vw;
  }
  .price1 {
    position: relative;
    font-weight: bold;
    font-size: 6vw;
    color: #000;
    font-family: verdana;
  }
  .buy_btn1 a {
    position: relative;
    top: 15vw;
    background: #ffcc00;
    padding: 8px 20px 8px 20px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 425px) {
  .bg1 {
    height: 57vh;
  }
}
@media screen and (min-width: 426px) and (max-width: 1024px)   {
     .slideshow_container .bg1 {
      height: 58vw;
    }
    .bg2 {
      top: -5vw;
      height: 57vw;
    }
    .buy_btn1 a {
      padding: 8px 20px 8px 20px;
      top: 8vw;
    }
  }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .slideshow_container .bg1 {
    height: 50vw;
  }
  .bg2 {
    position: absolute;
    top: -1vw;
    left: 50%;
    height: 55vw;
    animation-delay: 2s;
    animation-name: bg4;
  }
  @keyframes bg4 {
    from {
      left: 150%;
    }
    to {
      opacity: 1;
      left: 50%;
    }
  }
}
@media screen and (min-width:1200px) {
  .bg1 {
    height: 65vh;
  }
  @keyframes bg2 {
    from {
      opacity: 0;
      right: -100%;
    }
    to {
      opacity: 1;
      right: 10%;
    }
  }
  .sm_topnav {
    display: none;
  }
  .slider_content1 {
    position: absolute;
    width: 45%;
    height: 100%;
    top: 0;
  }
  .content1 {
    position: relative;
    top: 5rem;
    left: -8rem;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .slider_content1 h1 {
    margin: 0 auto;
    width: 300px;
    text-align: left;
    font-size: 55px;
    padding-bottom: 1rem;
  }
  .slider_content1 p {
    font-weight: bold;
    color: #3bf;
    font-size: 16px;
  }
  .price1 {
    position: relative;
    top: 10px;
    left: -5rem;
    font-weight: bold;
    font-size: 50px;
    color: #000;
    font-family: verdana;
  }
  .buy_btn1 a {
    position: relative;
    left: -5rem;
    top: 60px;
    padding: 10px 50px 10px 50px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 10px;
    background: #ffcc00;
    opacity: 0;
    color: #2d2d2d;
  }
}
